@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
/* Swatch:
--primary
#2d2930 >> dark
snow
--secondary
#e76e55 >> tomato
#92cc41 >> leaf
#f7d51d >> wheat
#209cee >> berry
#d3d3d3 >> stone
*/
html {
    animation: fadein 1s;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.5;
    color: #2d2930;
    cursor: url('icons/cursor.png'), auto;
}
@keyframes fadein {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}
body, html {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    overflow: visible;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 10px;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 32px;
    margin-top: -30px;
    background-color: snow;
    width: fit-content;
    padding: 0px 10px 0px 14px;
    text-shadow: 4px 4px #d3d3d3;
}
h3 {
    font-size: 28px;
    margin-top: 10px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}
p {
    font-size: initial;
    margin: 4px 0px 4px 0px;
}
blockquote {
    border-left: 5px;
    border-left-style: solid;
    padding-left: 10px;
}
blockquote.tomato {
    border-color: #e76e55;
}
blockquote.leaf {
    border-color: #92cc41;
}
blockquote.wheat {
    border-color: #f7d51d;
}
blockquote.berry {
    border-color: #209cee;
}
blockquote.stone {
    border-color: #d3d3d3;
}
code {
    background-color: #2d2930;
    color: #92cc41;
    font-family: 'Press Start 2P', cursive;
    text-indent: 0px;
}
header {
    background-color: #d3d3d3;
    margin: 0px;
    padding: 10px;
    width: 100%;
}
footer {
    background-color: black;
    color: snow;
    width: 100%;
    padding: 20px 10px 10px 10px;
    flex: 0 0 50px;
    margin-top: auto;
    text-align: center;
}
main {
    background-color: snow;
    padding: 5%;
}
@media (min-width: 960px) {
    main {
        padding: 0% 10% 0% 10%;
    }
}
@media (min-width: 1200px) {
    main {
        padding: 0% 15% 0% 15%;
    }
}
section {
    margin: 28px 0px 18px 0px;
    padding: 18px 10px 18px 10px;
    border: 4px;
    border-style: solid;
    box-shadow: inset -4px -4px #d3d3d3;
    display: block;
    overflow-wrap: break-word;    
}
span.tomato {
    color: #e76e55;
}
span.leaf {
    color: #92cc41;
}
span.wheat {
    color: #f7d51d;
}
span.berry {
    color: #209cee;
}
span.stone {
    color: #d3d3d3;
}
form {
    border: 4px solid #2d2930;
    margin-right: 4px;
}
form.dark {
    border-color: snow;
}
button, input[type="text"], input[type="button"] {
    display: inline-block;
    padding: 5px 10px;
    border-width: 4px;
    border-style: solid;
    line-height: inherit;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
}
textarea {
    display: block;
    padding: 5px 10px;
    border: 4px solid #2d2930;
    line-height: inherit;
    box-sizing: border-box;
    margin: 10px;
    width: 96%;
    font-family: 'Press Start 2P', cursive;
}
textarea.tomato {
    background-color: #e76e55;
    color: snow;
}
textarea.leaf {
    background-color: #92cc41;
}
textarea.wheat {
    background-color: #f7d51d;
}
textarea.berry {
    background-color: #209cee;
    color: snow;
}
div {
    padding: 10px;
}
div.audio-container, div.video-container, div.full-card {
    overflow: hidden;
}
div.dark {
    background-color: #2d2930;
    color: snow;
    margin-right: 4px;
}
input[type="text"] {
    width: 96%;
}
input[type="text"].tomato {
    border-color: #e76e55;
}
input[type="text"].leaf {
    border-color: #92cc41;
}
input[type="text"].wheat {
    border-color: #f7d51d;
}
input[type="text"].berry {
    border-color: #209cee;
}
input[type="text"].stone {
    border-color: #d3d3d3;
}
input[type="text"].dark {
    border-color: snow;
    color: snow;
    background-color: #2d2930;
}
button, input[type="button"], input[type="submit"] {
    border: 4px solid #2d2930;
    box-shadow: inset -4px -4px #d3d3d3;
    padding: 10px 14px 10px 14px;
}
input[type="button"].tomato {
    background-color: #e76e55;
    color: snow;
}
input[type="button"].leaf {
    background-color: #92cc41;
}
input[type="button"].wheat {
    background-color: #f7d51d;
}
input[type="button"].berry {
    background-color: #209cee;
    color: snow;
}
input[type="button"].stone {
    background-color: snow;
    color: #d3d3d3;
    border-color: #d3d3d3;
}
input[type="button"].dark {
    background-color: #2d2930;
    color: snow;
    border-color: snow;
}
select {
    display: inline-block;
    padding: 5px 10px;
    border: 4px solid #2d2930;
    line-height: inherit;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
    width: 96%;
}
select:hover {
    cursor: url('icons/cursor_select.png'), auto;
}
select option {
    background: snow; 
    color: #2d2930; 
}
input {
    display: inline-block;
    padding: 5px 10px;
    border-width: 4px;
    border-style: solid;
    line-height: inherit;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
}
button, input[type="button"]:hover, input[type="submit"]:hover {
    cursor: url('icons/cursor_select.png'), auto;
}
label:hover {
    cursor: url('icons/cursor.png'), auto;
}
select.tomato {
    border-color: #e76e55;   
}
select.leaf {
    border-color: #92cc41;   
}
select.wheat {
    border-color: #f7d51d;   
}
select.berry {
    border-color: #209cee;   
}
select.stone {
    border-color: #d3d3d3;
    color: #d3d3d3;
}
option {
    line-height: inherit;
    font-family: 'Press Start 2P', cursive;
    width: 96%;
}
label {
    padding: 10px 5px 0px 5px;
    display: block;
}
a {
    text-decoration: none;
    color: #209cee;
}
a:hover {
    filter: invert(100%);
    cursor: url('icons/cursor_select.png'), auto;
}
:focus {
    outline: none;
}
::selection {
    color: snow;
    background-color: #2d2930;
}
nav {
    margin: 10px;
}
nav > ul {
    list-style-type: none;
}
nav > ul > li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
}
ul {
    list-style: none;
}
main ul > li::before{
    float: left;
    margin: 0px 10px 0px 0px;
    content: "*";
}
ul.toc > li::before{
    content: "";
}
ol {
    margin-left: 32px;
}
dl {
    border: 8px dashed #2d2930;
    padding: 10px;
    margin-right: 6px;
}
dt.tomato {
    color: #e76e55;
}
dt.leaf {
    color: #92cc41;
}
dt.wheat {
    color: #f7d51d;
}
dt.berry {
    color: #209cee;
}
dt.stone {
    color: #d3d3d3;
}
table {
    border: 4px solid #2d2930;
    border-spacing: 0px;
    box-sizing: border-box;
    width: calc(100% - 4px);
}
div.dark > table {
    border: 4px solid snow;
    border-spacing: 0px;
    box-sizing: border-box;
    width: calc(100% - 4px);
}
caption {
    font-size: 14px;
}
th {
    border-bottom: 4px solid #2d2930;
    border-left: 2px solid #2d2930;
    border-right: 2px solid #2d2930;
    border-top: 0px;
}
div.dark table > thead > tr > th {
    border-bottom: 4px solid snow;
    border-left: 2px solid snow;
    border-right: 2px solid snow;
    border-top: 0px;
}
th.tomato {
    background-color: #e76e55;
}
th.leaf {
    background-color: #92cc41;
}
th.wheat {
    background-color: #f7d51d;
}
th.berry {
    background-color: #209cee;
}
tfoot > tr > td {
    border-top: 4px solid #2d2930;
}
div.dark table > tfoot > tr > td {
    border-top: 4px solid snow;
}
td.tomato {
    color: #e76e55;
    border-color: #e76e55;
}
td.leaf {
    color: #92cc41;
    border-color: #92cc41;
}
td.wheat {
    color: #f7d51d;
    border-color: #f7d51d;
}
td.berry {
    color: #209cee;
    border-color: #209cee;
}
td.stone {
    background-color: #d3d3d3;
}
div.cutout {
    border: 8px dashed #2d2930;
}
.video-controls {
    border: 8px solid #d3d3d3;
    text-align: center;
    color: snow;
}
div.cutout {
    padding: 18px;
    margin: 10px 6px 0px 0px;
    min-height: 200px;
}
.video-controls {
    height: 100px;
}
.video-controls > button {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    border-width: 4px;
    border-style: solid;
    box-sizing: border-box;
    height: 40px;
}
.audio-controls {
    border: 8px solid #d3d3d3;
    text-align: center;
    color: snow;
    background-color: #2d2930;
    padding: 10px 4px 10px 4px;
}
.audio-controls > caption {
    color: #2d2930;
}
.icon {
    height: 32px;
    width: 32px;
    padding: 0px;
}
.icon-large {
    height: 64px;
    width: 64px;
    padding: 6px;
}
.icon-super {
    height: 96px;
    width: 96px;
    padding: 6px;
}
summary {
    color: #209cee;
    list-style: none;
}
/* Required for Chrome browsers, restore after project:
summary::-webkit-details-marker {
    display: none;
}*/
summary:after {
    content: "+";
    float: left;
    margin: 0px 12px 0px 0px;
}
details[open] summary:after {
    content: "-";
}
section.content {
    text-align: center;
}
div.tomato {
    border: 4px solid #2d2930;
    background-color: #e76e55;
    box-sizing: border-box;
    box-shadow: inset -4px -4px #d3d3d3;
    color: snow;
    text-align: left;
}
div.leaf {
    border: 4px solid #2d2930;
    background-color: #92cc41;
    box-sizing: border-box;
    box-shadow: inset -4px -4px #d3d3d3;
    text-align: left;
}
div.wheat {
    border: 4px solid #2d2930;
    background-color: #f7d51d;
    box-sizing: border-box;
    box-shadow: inset -4px -4px #d3d3d3;
    text-align: left;
}
div.berry {
    border: 4px solid #2d2930;
    background-color: #209cee;
    box-sizing: border-box;
    box-shadow: inset -4px -4px #d3d3d3;
    color: snow;
    text-align: left;
}
.full-card {
    width: calc(100% - 4px);;
    display: inline-block;
    text-align: left;
    border: 4px solid #2d2930;
    box-sizing: border-box;
    box-shadow: inset -4px -4px #d3d3d3;
    margin: 10px 0px 10px 0px;
    display: flex;
    min-height: 440px;
    overflow-wrap: break-word;
}
.callout-frame {
    width: calc(100% - 4px);;
    display: inline-block;
    text-align: left;
    border: 4px solid #2d2930;
    box-sizing: border-box;
    box-shadow: inset -4px -4px #d3d3d3;
    margin: 10px 0px 10px 0px;
}
.callout-message > p {
    padding-left: 10px;
}
.two-card {
    width: 100%;
    display: inline-block;
}
.card.content {
    text-align: left;
}
.card.hero-image {
    margin: 0px 10px 0px 10px;
    min-width: 170px;
    width: 90%;
    min-height: 300px;
}
@media (min-width: 655px) {
    .two-card {
        width: 45%;
    }
    .card.hero-image {
        width: 95%;
    }
}
.three-card {
    width: 100%;
    display: inline-block;
    text-align: left;
}
@media (min-width: 655px) {
    .three-card {
        width: 45%;
    }
}
@media (min-width: 960px) {
    .three-card {
        width: 29%;
    }
}
.callout {
    width: 5%;
    display: inline-block;
}
.callout > .icon {
    padding-left: 10px;
}
.callout-message {
    width: 75%;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}
@media (min-width: 655px) {
    .callout-message {
        width: 80%;
    }
}
@media (min-width: 1000px) {
    .callout-message {
        width: 85%;
    }
}
.hero {
    width: 60%;
    margin: 0% 20% 0% 20%;
}
@media (min-width: 1036px) {
    .hero {
        width: 48%;
        margin: 0%;
    }
}
img {
    visibility: hidden;
}
img.hero {
    border: 4px solid #2d2930;
}
div.codewrap {
    width: 97%;
    background-color: #2d2930;
}
.content-left {
    width: 100%;
    text-align: left;
}
.content-right {
    width: 100%;
    text-align: right;
}
@media (min-width: 700px) {
    .content-left {
        width: 50%;
    }
    .content-right {
        width: 50%;
    }
}
.inner {
    min-height: 200px;
    height: fit-content;
}
.dual-card {
    width: calc(100% - 4px);;
    display: inline-block;
    text-align: center;
    border: 4px solid #2d2930;
    box-sizing: border-box;
    box-shadow: inset -4px -4px #d3d3d3;
    margin: 10px 0px 10px 0px;
}
@media (min-width: 700px) {
    .dual-card {
        display: flex;
    }
}
.dark-blue {
    background-color: #209cee;
    color: snow;
    margin-right: 4px;
}
.dark-blue > form {
    border-color: snow;
}
.dark-blue > input[type="text"] {
    background-color: #209cee;
}
.dark-blue > input[type="button"] {
    background-color: #209cee;
}
.dark-black {
    background-color: #2d2930;
    color: snow;
}
.full-card > .hero-image {
    box-sizing: border-box;
    border: 4px solid #2d2930;
}
.full-card.dark-blue > .hero-image {
    border-color: snow;
}
.full-card.dark-black > .hero-image {
    border: 4px solid snow;
}
.dual-card > .hero-bg {
    box-sizing: border-box;
    border: 4px solid #2d2930;
    min-height: 300px;
}
.dual-card.dark-blue > .hero-bg {
    border-color: snow;
}
.dual-card.dark-black > .hero-bg {
    border-color: snow;
}
@media (max-width: 600px) {
    .code-sample {
        margin-right: 8px;
    }
}
.code-sample {
    margin-top: 18px;
    margin-bottom: 8px;
}
details.code-sample > .codewrap {
    background-color: #2d2930;
    width: 97%;
}
.code-details {
    text-align: left;
}
.logo {
    visibility: visible;
}
.test-img {
    display: block;
    max-width: 97%;
    height: auto;
    margin: 10px 10px 0px 10px;
    padding: 0px;
    background-size: cover;
}
div.test-img {
    min-height: 270px;
}
@media (min-width: 550px) {
    div.test-img {
        min-height: 350px;
    }
}
@media (min-width: 650px) {
    div.test-img {
        min-height: 440px;
    }
}
@media (min-width: 960px) {
    div.test-img {
        min-height: 550px;
    }
}
@media (min-width: 1500px) {
    div.test-img {
        min-height: 650px;
    }
}
.modal {
    display: none;
    text-align: center;
    vertical-align: middle;
    position: fixed;
}
.modal-inner {
    position: fixed;
    overflow: hidden;
    border: 4px solid #2d2930;
    background-color: snow;
    z-index: 10;
}
.modal-inner.sm {
    top: 15%;
    left: 10%;
    right: 10%;
    bottom: 65%;
}
.modal-inner.md {
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 55%;
}
.modal-inner.lg {
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
}
@media (min-width: 960px) {
    .modal-inner.sm {
        top: 25%;
        left: 30%;
        right: 30%;
        bottom: 55%;
    }
    .modal-inner.md {
        top: 15%;
        left: 15%;
        right: 15%;
        bottom: 50%;
    }
    .modal-inner.lg {
        top: 10%;
        left: 5%;
        right: 5%;
        bottom: 15%;
    }
}
.overlay {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.dnd {
    border: 8px dashed #2d2930;
    padding: 18px;
    margin: 10px;
    text-align: center;
    min-height: 125px;
}
[draggable]:hover {
    cursor: url('icons/grab.png'), auto;
}
.video-container {
    padding: 10px;
    border: 4px solid #2d2930;
    box-sizing: border-box;
    background-color: #2d2930;
}
.video-sample {
    margin: 10px;
    padding: 8px;
    width: 97%;
    height: auto;
}
.ctrl:hover {
    cursor: url('icons/cursor_select.png'), auto;
}
#tenp, #twentyp, #thirtyp, #fortyp, #fiftyp, #sixtyp, #seventyp, #eightyp, #ninetyp, #hundyp {
    color: #2d2930;
}
mark {
    background-color: #2d2930;
    color: #2d2930;
}
img[draggable="true"] {
    margin: 8px;
}
.dynast-king {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 11;
    visibility: hidden;
    height: 120px;
    width: 120px;
}
.quackbox {
    position: fixed;
    bottom: 25%;
    right: 25%;
    z-index: 99;
    visibility: hidden;
    height: 80px;
    width: 150px;
    background-size: cover;
    color: #2d2930;
}
@media (min-width: 740px) {
    .quackbox {
        right: 18%;
        bottom: 20%;
    }
}
@media (min-width: 1000px) {
    .quackbox {
        right: 12%;
        bottom: 18%;
    }
}
.quackbox > p {
    padding-top: 8px;
}
